<nav class="navbar navbar-dark bg-primary fixed-bottom d-lg-none border-top">
  <div class="container-fluid">
    <ul class="navbar-nav w-100 flex-row justify-content-around">
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa-solid fa-house"></i><span>Katalog</span>
        </a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">
          <i class="fa-solid fa-circle-info"></i><span>O Nama</span>
        </a>
      </li>
      @if (userService.currentUser()) {
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">
            <i class="fa-solid fa-user"></i><span>Profil</span>
          </a>
        </li>
      } @else {
        <li class="nav-item text-center">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fa-solid fa-sign-in-alt"></i><span>Login</span>
          </a>
        </li>
      }
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="/korpa" routerLinkActive="active">
          <i class="fa-solid fa-cart-shopping"></i><span>Korpa</span>
        </a>
      </li>
    </ul>
  </div>
</nav>