/* src/app/star-rating/star-rating.scss */
.star-rating {
  i {
    font-size: 1.1rem;
    margin-right: 2px;
  }

  .fa-star,
  .fa-star-half-stroke {
    color: #ffc107; // Bootstrap warning žuta (standard za ocene)
  }

  .fa-regular.fa-star {
    color: #d6d6d6;
  }
}
