#ratingModal {
  z-index: 2000 !important;
}

.modal-backdrop.show {
  z-index: 1900 !important;
}

.modal-content {
  border-radius: 0.75rem;
  animation: fadeInModal 0.3s ease-in-out;
}

@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
