.styled-search-wrapper {
  position: relative;
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #adb5bd;
    pointer-events: none;
  }

  .styled-search-input {
    border-radius: 20px;
    padding-left: 35px;
    background-color: #fff;
    border: none;
    text-align: center;

    &:focus {
      text-align: left;
    }
  }
}

.navbar-logo-mobile {
  height: 60px;
  width: auto;
}

@media (min-width: 992px) {
  .navbar-brand {
    position: relative;
    padding-left: 70px; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navbar-logo-desktop {
    position: absolute;
    height: 80px;
    width: auto;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav-link.active-link {
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }
}