/* src/app/shopping-basket/shopping-basket.scss */
.list-group-item {
  border: none;
  border-bottom: 1px solid #e0e0e0;

  &:last-child {
    border-bottom: none;
  }

  img {
    object-fit: cover;
    border-radius: 0.5rem;
  }

  button {
    i {
      pointer-events: none;
    }
  }
}

.card {
  border: none;
  border-radius: 0.75rem;
}

.card-header {
  border: none;
}
