.navbar-brand {
  position: relative;

  //    (Visina logoa 45px + margina 8px = 53px)
  padding-left: 88px;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-logo {
  position: absolute;

  height: 80px;
  width: auto;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
}