<nav class="navbar navbar-expand-lg navbar-dark bg-primary  fixed-top shadow" style="background-color: #2c2b2b;">
  <div class="container">
    <a class="navbar-brand fw-bold d-flex align-items-center" routerLink="/">
      <img src="/logo.png" alt="Logo Prodavnice Igračaka" class="navbar-logo me-2">
      
    
    </a>
    
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fas fa-home me-1"></i>Katalog
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            <i class="fas fa-info-circle me-1"></i>O Nama
          </a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        @if(hasAuth()) {
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user me-1"></i> {{ currentUser()!.email }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" routerLink="/profile">Moj Profil</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <button class="dropdown-item" (click)="logoutNow()">
                  <i class="fas fa-sign-out-alt me-1"></i> Odjavi se
                </button>
              </li>
            </ul>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">
              <i class="fas fa-sign-in-alt me-1"></i> Prijavi se
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-light btn-sm mt-1 ms-lg-2" routerLink="/register">Registruj se</a>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>