.navbar-brand {
  position: relative;

  padding-left: 88px;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-logo {
  position: absolute;

  height: 50px;
  width: auto;

  left: 0;
  top: 50%;
  transform: translateY(-50%);
}